.slider {
    display: block;
    position: absolute;
    border: 1px solid #ccc;
}

    .slider .pot {
        background-color: gray;
        border: 1px solid gray;
        opacity: 0.3;
    }

    .slider .pot,
    .slider .handle {
        display: block;
        position: absolute;
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
    }

    .slider .handle {
        background-color: gray;
    }

        .slider .handle::after {
            content: "";
            display: block;
            width: 15vw;
            height: 15vw;
            margin-left: -5vw;
            margin-top: -5vw;
            border-radius: 5vw;
            background: inherit;
            opacity: 0.1;
        }

        .slider .handle.red {
            background-color: red;
        }

        .slider .handle.green {
            background-color: green;
        }

        .slider .handle.blue {
            background-color: blue;
        }

        .slider .handle.orange {
            background-color: orange;
        }
