.slider {
    display: block;
    position: absolute;
    border: 1px solid #ccc;
}

    .slider .pin {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: red;
    }

        .slider .pin::after {
            content: "";
            display: block;
            width: 150px;
            height: 150px;
            margin-left: -50px;
            margin-top: -50px;
            border-radius: 50px;
            background: blue;
            opacity:0.1;
        }
