body {
    width: 800px;
    padding: 0;
    margin: auto;
    background: #eee;
}


.main {
}

    .main .screen {
        display: block;
        position: relative;
        width: 800px;
        height: 350px;
    }

.full-screen {
    position: absolute;
    top: 0;
    right: 0px;
}
